body {
    color: #ffffff;
    font-size: 26px;
    font-family: "Chalkduster", fantasy;

    background-color: #000000;
    background-image: url("wood.jpeg");
    /* background-repeat: no-repeat; */
    background-size: 100%;

}

header, footer {
    text-align: center;

    background-color: rgb(0, 0, 0, 0.6);
    border: 5px solid white;
    border-radius: 30px;
    padding: 10px;
}

nav {
    text-align: center;
    margin: 5px;
}

article {
    border: 5px solid white;
    border-radius: 20px;

    padding: 5%;
    margin: 2% 10%;
    width: 70%;

    background-color: rgb(0, 0, 0, 0.6);
}

a {
    color: white;
    text-decoration: underline;

    padding: 10px;
}

a:hover {
    color: #bbbbff;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    text-align: center;

    margin-left: 2em;
}

.words-section {
    border: 5px solid white;
    border-radius: 20px;

    margin: 2% 10%;
    width: 40%;

    background-color: rgb(0, 0, 0, 0.6);
}

dl {
    display: none;

    text-align: center;
}

.words-section:hover {
    border-color: #bbbbff;
}

.words-section:hover dl {
    display: block;
}

.words-section:hover h2 {
    color: #bbbbff;
    text-decoration: underline;
    font-style: italic;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
}

dd {
    display: none;

    color: #bbbbff;
    font-family: "American Typewriter", serif;
    font-style: italic;
}

.word {
    width: 50%;
    margin-bottom: 10px; 
    padding: 5px;

    text-align: center;

    border: 3px solid white;
    border-radius: 10px;
}

.verbs, .adjectives, .expressions {
    float: left;

    padding-left: 5%;
}

.nouns, .adverbs {
    float: right;

    padding-left: 5%;
}

.word:active dd {
    display: block;
}

.word:hover {
    border-color: #bbbbff;
}

.word:hover dt {
    color: #bbbbff;
    text-decoration: underline;
} 

.hidden {
    font-style: italic;

    display: none;
}

.press:hover {
    color: #bbbbff;
    text-decoration: underline;
}

.press:active .hidden {
    display: inline;
}
